@import "../../functions";

.Posts {
    max-width: to-rem(960);
    width: 100%;
    display: grid;
    grid-row-gap: to-rem(15);
    margin: to-rem(30) auto auto;
    min-height: calc(100% - #{to-rem(360)});
    grid-template-rows: to-rem(75) repeat(auto-fit, to-rem(200));

    @media (max-width: 980px) {
        max-width: 90%;
        grid-row-gap: to-rem(25);
        grid-template-rows: to-rem(50) repeat(auto-fit, to-rem(200));
    }

    @media (max-width: 767px) {
        margin: to-vw(30, 767) auto auto;
        grid-template-rows: to-rem(50) repeat(auto-fit, to-vw(300, 767));
    }

    @media (max-width: 600px) {
        margin: to-vw(30, 600) auto auto;
        grid-template-rows: to-rem(50) repeat(auto-fit, to-vw(350, 600));
    }

    @media (max-width: 420px) {
        margin: to-vw(30, 420) auto auto;
        grid-template-rows: to-rem(50) repeat(auto-fit, to-vw(350, 420));
    }
}

.Tags {
    grid-template-rows: to-rem(50) repeat(auto-fit, to-rem(200));
}

.TagsTitle {
    span { color: #09864B; }
}
