---
import Base from '../layouts/base.astro';
import Post from '../components/post.astro';
import GhostContentAPI from '@tryghost/content-api';

const api = new GhostContentAPI({
    url: import.meta.env.PUBLIC_API_URL,
    key: import.meta.env.PUBLIC_API_KEY,
    version: 'v4'
})

const posts = await api.posts.browse();

---

<Base title='imkreative blog'>
    <div class="content">
        <h1>blog</h1>
        <div class='posts'>
            {posts.map((post) => <Post title={post.title} excerpt={post.excerpt} />)}
        </div>
    </div>
</Base>

<style>
    .content {
        grid-area: content;
    }

    .posts {
        margin: 0;
        padding: 0;
    }
</style>
