@import "../../functions";

.Post {
    display: grid;
    margin: to-rem(30) auto auto;
    grid-row-gap: to-rem(15);
    grid-column-gap: to-rem(30);
    grid-template-columns: 2fr to-rem(800) to-rem(300) 2fr;
    grid-template-rows: to-rem(500) auto 0.25fr;
    grid-template-areas:
        ". header header ."
        ". content sidebar ."
        ". footer sidebar .";
    margin: auto;
    position: relative;

    @media (max-width: 1025px) {
        margin: 0 auto auto;
        grid-row-gap: to-rem(10);
        grid-column-gap: to-rem(0);
        grid-template-columns: 0 75% 25% 0;
        grid-template-rows: to-rem(500) auto 0.5fr;
    }

    @media (max-width: 767px) {
        margin: 0 auto auto;
        grid-row-gap: to-vw(15, 767);
        grid-column-gap: 0;
        grid-template-columns: 100%;
        grid-template-rows: to-vw(400, 767) auto auto auto 1fr;
        grid-template-areas:
            "header"
            "content"
            "footer"
            "sidebar"
            ".";
        margin: auto;
        position: relative;
    }

    @media (max-width: 600px) {
        grid-row-gap: to-vw(15, 600);
        grid-template-rows: to-vw(400, 600) auto auto auto 1fr;
    }
}

.Header {
    width: 100%;
    position: relative;
    grid-area: header;

    &:hover {
        .Image {
            transform: scale(1.5);
            transition: 4s transform ease-in;
        }
    }
}

.ImageContainer {
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
}

.Image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    transition: 2s transform ease-out;
}

.Info {
    background-color: rgba(0, 0, 0, .7);
    padding: to-rem(20) to-rem(40);
    position: absolute;
    bottom: to-rem(50);
    max-width: 50%;
    left: 0;

    @media (max-width: 767px) {
        padding: to-vw(20, 767) to-vw(20, 767);
        bottom: to-vw(30, 767);
        max-width: 70%;
    }

    @media (max-width: 600px) {
        padding: to-vw(20, 600) to-vw(20, 600);
        bottom: to-vw(30, 600);
    }
}

.Date {
    position: absolute;
    background-color: #09864B;
    padding: to-rem(5) to-rem(10);
    color: #DFDFDF;
    top: 0;
    left: to-rem(40);
    padding: to-rem(5) to-rem(10);
    font-size: to-rem(10);
    transform: translateY(-50%);

    @media (max-width: 767px) {
        padding: to-vw(5, 767) to-vw(10, 767);
        font-size: to-vw(12, 767);
    }

    @media (max-width: 600px) {
        padding: to-vw(5, 600) to-vw(10, 600);
        font-size: to-vw(12, 600);
    }
}

.Title {
    font-family: 'Dosis';
    font-weight: 600;
    font-size: to-rem(48);
    margin: to-rem(5) 0;
    color: #DFDFDF;
    text-transform: uppercase;
    line-height: 1;
    margin: to-rem(10) 0;

    @media (max-width: 767px) {
        font-size: to-vw(36, 767);
        line-height: 1.2;
        margin: to-vw(10, 767) 0;
    }

    @media (max-width: 600px) {
        font-size: to-vw(36, 600);
        margin: to-vw(10, 600) 0;
    }
}

.Category {
    position: absolute;
    background-color: #09864B;
    padding: to-rem(5) to-rem(10);
    color: #DFDFDF;
    bottom: 0;
    right: to-rem(40);
    font-size: to-rem(14);
    transform: translateY(50%);

    @media (max-width: 767px) {
        padding: to-vw(5, 767) to-vw(10, 767);
        font-size: to-vw(14, 767);
    }

    @media (max-width: 600px) {
        padding: to-vw(5, 600) to-vw(10, 600);
        font-size: to-vw(14, 600);
    }
}

.Author {
    display: flex;
    align-items: center;
}

.AuthorImage {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: to-rem(40);
    height: to-rem(40);
    margin-right: to-rem(10);
    border: to-rem(2) solid rgba(255, 255, 255, .1);
    box-sizing: border-box;

    @media (max-width: 767px) {
        width: to-vw(40, 767);
        height: to-vw(40, 767);
        margin-right: to-vw(10, 767);
    }

    @media (max-width: 600px) {
        width: to-vw(40, 600);
        height: to-vw(40, 600);
        margin-right: to-vw(10, 600);
    }
}

.AuthorName {
    font-size: to-rem(12);
    line-height: .9;
    display: block;
    color: #DFDFDF;

    @media (max-width: 767px) {
        font-size: to-vw(14, 767);
    }

    @media (max-width: 600px) {
        font-size: to-vw(14, 600);
    }
}

.Body {
    grid-area: content;
    padding: to-rem(15);

    figure {
        max-width: 100%;
        margin: to-rem(10);

        img {
            max-width: 100%;
        }
    }

    img {
        max-width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: to-rem(20) 0;
        background-color: #09864B;
        padding: to-rem(5) to-rem(10);
        color: #DFDFDF;
        display: inline-block;
        font-family: 'Dosis', sans-serif;
        font-weight: 400;
    }

    h1 { font-size: to-rem(28); }
    h2 { font-size: to-rem(26); }
    h3 { font-size: to-rem(24); }
    h4 { font-size: to-rem(20); }
    h5 { font-size: to-rem(18); }
    h6 { font-size: to-rem(16); }

    p, li {
        font-size: to-rem(18);
        margin: to-rem(5) 0 to-rem(15);
        font-family: 'Heebo', sans-serif;
        line-height: 1.5;
    }

    li {
        margin: auto;
    }

    ul {
        list-style-type: circle;

        ul {
            list-style-type: disc;
        }
    }

    ol {
        list-style-type: lower-roman;
    }

    code {
        background: #FFF;
    }

    strong { font-weight: bold; }

    blockquote {
        margin: to-rem(20) 0;
        padding: to-rem(20) to-rem(20) to-rem(20) to-rem(80);
        background-color: rgba(255, 255, 255, .5);
        position: relative;

        &:before, &:after {
            font-size: to-rem(80);
            color: #09864B;
            font-family: 'Dosis', sans-serif;
            font-weight: 500;
            position: absolute;
            line-height: 0;
            opacity: .8;
        }

        &:before {
            content: '\201C';
            left: to-rem(40);
            top: to-rem(40);
        }

        &:after {
            content: '\201D';
            bottom: to-rem(0);
            transform: translateX(50%);
        }
    }

    pre {
        background-color: #FFF;
        padding: to-rem(20);
        margin: to-rem(10);
        overflow-x: scroll;

        code {
            background: none;
            font-size: to-rem(14);
        }
    }

    a {
        color: #09864B;
    }

    @media (max-width: 767px) {
        padding: to-vw(20, 767);

        figure {
            margin: to-vw(10, 767);
        }

        h1, h2, h3, h4, h5, h6 {
            margin: to-vw(20, 767) 0;
            padding: to-vw(5, 767) to-vw(10, 767);
        }

        h1 { font-size: to-vw(28, 767); }
        h2 { font-size: to-vw(26, 767); }
        h3 { font-size: to-vw(24, 767); }
        h4 { font-size: to-vw(20, 767); }
        h5 { font-size: to-vw(18, 767); }
        h6 { font-size: to-vw(16, 767); }

        p, li {
            font-size: to-vw(18, 767);
            margin: to-vw(5, 767) 0 to-vw(15, 767);
        }

        blockquote {
            margin: to-vw(20, 767) 0;
            padding: to-vw(20, 767) to-vw(20, 767) to-vw(20, 767) to-vw(80, 767);
            background-color: rgba(255, 255, 255, .5);

            &:before, &:after {
                font-size: to-vw(80, 767);
            }

            &:before {
                left: to-vw(40, 767);
                top: to-vw(40, 767);
            }

            &:after {
                bottom: to-vw(0, 767);
            }
        }

        pre {
            padding: to-vw(20, 767);
            margin: to-vw(10, 767);

            code {
                font-size: to-vw(14, 767);
            }
        }
    }

    @media (max-width: 600px) {
        padding: to-vw(20, 600);

        figure {
            margin: to-vw(10, 600);
        }

        h1, h2, h3, h4, h5, h6 {
            margin: to-vw(20, 600) 0;
            padding: to-vw(5, 600) to-vw(10, 600);
        }

        h1 { font-size: to-vw(28, 600); }
        h2 { font-size: to-vw(26, 600); }
        h3 { font-size: to-vw(24, 600); }
        h4 { font-size: to-vw(20, 600); }
        h5 { font-size: to-vw(18, 600); }
        h6 { font-size: to-vw(16, 600); }

        p, li {
            font-size: to-vw(18, 600);
            margin: to-vw(5, 600) 0 to-vw(15, 600);
        }

        blockquote {
            margin: to-vw(20, 600) 0;
            padding: to-vw(20, 600) to-vw(20, 600) to-vw(20, 600) to-vw(80, 600);
            background-color: rgba(255, 255, 255, .5);

            &:before, &:after {
                font-size: to-vw(80, 600);
            }

            &:before {
                left: to-vw(40, 600);
                top: to-vw(40, 600);
            }

            &:after {
                bottom: to-vw(0, 600);
            }
        }

        pre {
            padding: to-vw(20, 600);
            margin: to-vw(10, 600);

            code {
                font-size: to-vw(14, 600);
            }
        }
    }
}

.Tags {
    margin: 0 0 to-rem(20);

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
    }

    @media (max-width: 767px) {
        margin: 0 0 to-vw(20, 767);
    }

    @media (max-width: 600px) {
        margin: 0 0 to-vw(20, 600);
    }
}

.Tag {
    background-color: #09864B;
    padding: to-rem(5) to-rem(10);
    font-size: to-rem(12);
    list-style-type: none;
    margin: 0 to-rem(10) 0 0 !important;

    a {
        color: #DFDFDF;
        text-decoration: none;
    }

    @media (max-width: 980px) {
        font-size: to-rem(16);
    }

    @media (max-width: 767px) {
        padding: to-vw(5, 767) to-vw(10, 767);
        font-size: to-vw(14, 767);
        margin: 0 to-vw(10, 767) 0 0;
    }

    @media (max-width: 600px) {
        padding: to-vw(5, 600) to-vw(10, 600);
        font-size: to-vw(14, 600);
        margin: 0 to-vw(10, 600) 0 0;
    }
}

.Sidebar {
    display: grid;
    grid-area: sidebar;
    grid-template-rows: auto 4fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "owner"
        "feature";
    grid-row-gap: to-rem(15);
    padding: to-rem(15);
    position: relative;

    @media (max-width: 1025px) {
        grid-template-rows: auto 4fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "owner"
            "feature";
        grid-row-gap: to-rem(15);
        padding: to-rem(15);
        position: relative;
    }

    @media (max-width: 980px) {
        grid-area: sidebar;
        grid-template-rows: auto 5fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "owner"
            "feature";
        grid-row-gap: to-rem(15);
        padding: to-rem(15);
        position: relative;
    }

    @media (max-width: 767px) {
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr 2fr 1fr;
        grid-row-gap: to-vw(40, 767);
        grid-template-areas:
            "feature feature feature"
            ". owner .";
    }

    @media (max-width: 600px) {
        grid-row-gap: to-vw(40, 600);
    }
}

.RelatedPosts {
    grid-area: feature;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: to-rem(100) to-rem(100);
    grid-template-areas:
        "related-1 related-2"
        "related-3 related-4";
    grid-gap: to-rem(10);

    @media (max-width: 1025px) {
        grid-template-columns: 100%;
        grid-template-rows: to-vw(240, 1025) to-vw(240, 1025) to-vw(240, 1025) to-vw(240, 1025);
        grid-template-areas:
            "related-1"
            "related-2"
            "related-3"
            "related-4";
        grid-gap: to-vw(20, 1025);
    }

    @media (max-width: 980px) {
        grid-template-columns: 100%;
        grid-template-rows: to-vw(240, 1025) to-vw(240, 1025) to-vw(240, 1025) to-vw(240, 1025);
        grid-gap: to-vw(20, 1025);
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: to-vw(240, 767) to-vw(240, 767);
        grid-template-areas:
            "related-1 related-2"
            "related-3 related-4";
    }

    @media (max-width: 600px) {
        grid-template-rows: to-vw(240, 600) to-vw(240, 600);
    }
}

.RelatedPost {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    a {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
    }

    &:hover {
        .RelatedImage {
            transform: scale(1.5);
            transition: 4s transform ease-in;
        }
    }
}

.RelatedImage {
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: 2s transform ease-out;
}

.RelatedTitle {
    position: absolute;
    z-index: 10;
    background-color: #09864B;
    display: inline;
    bottom: 0;
    margin: 0;
    font-size: to-rem(10);
    padding: to-rem(5);
    font-family: 'Dosis', sans-serif;
    color: #DFDFDF;
    font-weight: 300;

    @media (max-width: 1025px) {
        font-size: to-rem(20);
        padding: to-rem(5);
    }

    @media (max-width: 980px) {
        font-size: to-rem(20);
        padding: to-rem(5);
    }

    @media (max-width: 767px) {
        font-size: to-vw(20, 767);
        padding: to-vw(10, 767);
    }

    @media (max-width: 600px) {
        font-size: to-vw(20, 600);
        padding: to-vw(10, 600);
    }
}

.Owner { grid-area: owner; }

.OwnerImage {
    background-size: cover;
    height: to-rem(300);

    @media (max-width: 1025px) {
        height: to-vw(215, 1025);
    }

    @media (max-width: 767px) {
        width: 100%;
        height: to-vw(300, 767);
    }

    @media (max-width: 600px) {
        height: to-vw(300, 600);
    }
}

.OwnerTitle {
    background-color: rgba(red(#09864B), green(#09864B), blue(#09864B), .95);
    background-color: #09864B;
    width: auto;
    display: inline-block;
    margin: 0;
    position: absolute;
    transform: translate(to-rem(-10), -70%);
    padding: to-rem(5) to-rem(20);
    color: #DFDFDF;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;

    @media (max-width: 767px) {
        transform: translate(30%, -70%);
        font-size: to-vw(30, 767);
        padding: to-vw(5, 767) to-vw(20, 767);
    }

    @media (max-width: 600px) {
        font-size: to-vw(30, 767);
        padding: to-vw(5, 600) to-vw(20, 600);
    }
}

.OwnerBio {
    font-size: to-rem(13);
    color: #080808;
    text-align: center;
    padding: to-rem(10) to-rem(10) to-rem(10);
    font-weight: 300;

    @media (max-width: 1025px) {
        font-size: to-rem(15);
        text-align: left;
    }

    @media (max-width: 980px) {
        font-size: to-rem(15);
        text-align: left;
    }

    @media (max-width: 767px) {
        font-size: to-vw(15, 767);
        padding: to-vw(10, 767) to-vw(10, 767) to-vw(10, 767);
        width: 100%;
        box-sizing: border-box;
    }

    @media (max-width: 600px) {
        font-size: to-vw(15, 600);
        padding: to-vw(10, 600) to-vw(10, 600) to-vw(10, 600);
    }
}

.Footer {
    grid-area: footer;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". share .";
    padding: to-rem(10) 0;
    height: to-rem(100);

    h3 {
        margin: 0 to-rem(10) to-rem(10);
        text-align: right;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style-type: none;
        grid-area: share;

        li {
            margin: to-rem(10) to-rem(10) 0;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            box-sizing: border-box;
            height: to-rem(40);
            width: to-rem(40);
            background-size: contain;
            background-repeat: no-repeat;

            a {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }

    @media (max-width: 767px) {
        padding: to-vw(10, 767) to-vw(50, 767);

        h3 {
            margin: 0 to-vw(12, 767) to-vw(12, 767);
        }

        ul {
            li {
                margin: to-vw(10, 767) to-vw(10, 767) 0;
                height: to-vw(40, 767);
                width: to-vw(40, 767);
            }
        }
    }

    @media (max-width: 600px) {
        padding: to-vw(10, 600) to-vw(50, 600);

        h3 {
            margin: 0 to-vw(12, 600) to-vw(12, 600);
        }

        ul {
            li {
                margin: to-vw(10, 600) to-vw(10, 600) 0;
                height: to-vw(40, 600);
                width: to-vw(40, 600);
            }
        }
    }
}
.Twitter { background-image: url('./../../assets/twitter.png'); }
.Facebook { background-image: url('./../../assets/fb.png'); }
.LinkedIn { background-image: url('./../../assets/linkedin.png'); }
