.Post {
    background-color: #EFEFEF;
}

.Header {}
.ImageContainer {}
.Image {}
.Info {}
.Date {}
.Title {}
.Category {}
.Author {}
.AuthorImage {}
.AuthorName {}
.Body {}
.Tags {}
.Tag {}
.Sidebar {}
.RelatedPosts {}
.RelatedPost {}
.RelatedImage {}
.RelatedTitle {}
.Owner {}
.OwnerImage {}
.OwnerTitle {}
.OwnerBio {}
.Footer {}
.Twitter {}
.Facebook {}
.LinkedIn {}
