@import "../../functions";

.Loading {
    width: 100%;
    height: calc(100vh - #{to-rem(200)} - #{to-rem(130)});
    display: flex;

    svg {
        margin: auto;
        width: to-rem(128);
        height: to-rem(128);
    }

    @media (max-width: 767px) {
        height: calc(100vh - #{to-rem(200)} - #{to-vw(130, 767)});
    }

    @media (max-width: 600px) {
        height: calc(100vh - #{to-rem(200)} - #{to-vw(130, 600)});
    }
}
