:root {
    --green: #22707F;
}

main.imkreative {
    display: grid;
    width: 100vw;
    height: 100%;
    background-color: #FDFDFD;
    grid-template-areas:
        'nav nav nav'
        '. content .'
        'footer footer footer';

    grid-template-columns: 1fr minmax(450px, 50vw) 1fr;
    grid-row-gap: 7vw;
}

h1, h2, h3 {
    font-family: 'Exo', sans-serif;
}

p {
    font-family:  'Mukta', sans-serif;
}

.content {
    grid-area: content;
}

.posts {
    margin: 0;
    padding: 0;
}

.single-post {

}

.single-post p {
    font-size:  1.2rem;
    line-height: 1.4;
}

.single-post a {
    color: var(--green);
}

.single-post ul {
    margin: .5rem 0;
    padding-left: 1.5rem;
}

.single-post ul li {
    margin: .5rem 0;
}
