@import "../../functions";

.Footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 2fr to-rem(1100) 2fr;
    grid-template-areas: ". social .";
    background-color: #080808;
    padding: to-rem(40) 0;
    margin: to-rem(30) 0 0;
    height: to-rem(100);
    box-sizing: border-box;
}

.Twitter:before {
    background-image: url('./../../assets/twitter-white.png');
}

.Facebook:before {
    background-image: url('./../../assets/fb-white.png');
}

.Social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
    grid-area: social;

    li {
        padding: to-rem(10) to-rem(10) 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-sizing: border-box;

        a {
            padding-left: to-rem(25);
            text-decoration: none;
            color: #DFDFDF;
            line-height: to-rem(13);
            font-size: to-rem(13);
        }

        &:before {
            content: '';
            height: to-rem(20);
            width: to-rem(20);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
        }
    }
}
.Link {
    a { padding-left: 0; }
    &:before { width: 0; }
    &:hover {
        a { color: #09864B; }
    }
}

.Ghost:before {
    background-image: url('./../../assets/ghost.svg');
}

.Google:before {
    background-image: url('./../../assets/cloud.png');
}
