@import "../../functions";

.Search {
    padding: to-rem(20) to-rem(15);
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    form {
        display: inherit;
        width: 100%;
    }
}

.Container {
    border: to-rem(1) solid rgba(red(#080808), green(#080808), blue(#080808), .5);
    border-radius: to-rem(10);
    padding: to-rem(5) to-rem(15);
    margin: 0 to-rem(15) 0 0;
    min-width: to-rem(250);
    width: 100%;
    background-color: #FFF;

    input {
        border: none;
        outline: none;
        font-family: 'Heebo', sans-serif;
        font-size: to-rem(15);
        line-height: to-rem(15);
        width: 100%;
    }
}

.Submit {
    border: none;
    outline: none;
    background-color: #DFDFDF;
    border-radius: to-rem(10);
    padding: to-rem(5) to-rem(15);
    font-size: to-rem(13);
}
