.Post {
    a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: block;
    }
}

.Image {

}

.Date {

}

.Title {

}

.Author {

}

.AuthorName {

}

.AuthorImage {

}

.Excerpt {

}
