@import "reset";
@import "functions";

html {
    font-size: 16px;
    height: 100%;

    @media (max-width: 1281px) {
        font-size: 13px;
    }

    @media (max-width: 1025px) {
        font-size: 14px;
    }

    @media (max-width: 980px) {
        font-size: 12px;
    }
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: #EFEFEF;
    height: 100%;
}

h1 {
    font-size: to-rem(16);
    color: #232323;
}

a {
    transition: .2s all ease-out;
}

main {
    background-color: #EFEFEF;
    height: 100%;
}
