@import "reset";
@import "functions";

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: #EFEFEF;
    height: 100%;
}

h1 {
    font-size: to-rem(16);
    color: #232323;
}

a {
    transition: .2s all ease-out;
}

main {
    background-color: #EFEFEF;
    height: 100%;
}
